$mainBg: #e0e0e0;
$mainColor: #262626;
$mainBorder: #5b9bd5;
$workAreaBg: #fefefe;
$headerBg: #1456a8;
$headerColor: #f9ffff;
$panelBg: #212121;
$panelColor: #9d9d9d;
$panelTimeColor: #f9ffff;
$addBorderColor: #d1d1cf;
$activeBg: #30ac1a;